xbee-test-flow.json
[{"id":"9a8d9d01.65726","type":"serial-port","serialport":"/dev/tty.usbserial-A900UE4F","serialbaud":"9600","newline":"\\n"},{"id":"bf0f294e.40f0d8","type":"xbee in","name":"","serial":"9a8d9d01.65726","x":183,"y":187,"wires":[["dcd36176.232ca"]]},{"id":"dcd36176.232ca","type":"debug","name":"xbee-in-debug","active":true,"complete":"true","x":586,"y":205,"wires":[]},{"id":"caf96bf9.350698","type":"inject","name":"Pinger","topic":"","payload":"OPEN\\n","repeat":"10","crontab":"","once":false,"x":260,"y":275,"wires":[["27ec245d.d813dc","e5089b27.1af768"]]},{"id":"27ec245d.d813dc","type":"xbee out","name":"","serial":"9a8d9d01.65726","destination":"0013a20040aa18df","x":668,"y":278,"wires":[]},{"id":"e5089b27.1af768","type":"debug","name":"xbee-out-debug","active":false,"complete":"false","x":592,"y":359,"wires":[]},{"id":"90ced1fe.6f313","type":"inject","name":"","topic":"","payload":"CLOSE","repeat":"15","crontab":"","once":false,"x":212,"y":442,"wires":[["110f6c7d.eef094"]]},{"id":"110f6c7d.eef094","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nmsg.destination = \"0013a20040aa18df\"\n\nreturn msg;","outputs":1,"x":489,"y":481,"wires":[["43c31a26.bc3ce4"]]},{"id":"43c31a26.bc3ce4","type":"xbee out","name":"","serial":"9a8d9d01.65726","destination":"","x":743,"y":461,"wires":[]}]